.pdf-container {
	display: flex;
	justify-content: center;
	user-select: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.controls {
	margin: 20px;
}

@media print {
	.pdf-container {
		display: none;
	}
}
